.idea/*
cmake-build-debug/*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/*
Findgtest.cmake
Findyaml-cpp.cmake
Makefile
bin/*
cmake_install.cmake
conan.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conanfile.txt
conaninfo.txt
graph_info.json
lib/
tests/CMakeFiles/
tests/Makefile
tests/cmake_install.cmake
